<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div>
        <div></div>
        <div class="titleBox"><h1 class="title">GPT-Dash</h1></div>
        <div></div>
    </div>
    <div>
        <div id="responseContainer"></div>
    </div>
    <div id="userInput">
        <input type="text" id="messageInput" placeholder="Type a message">
        <button onclick="sendMessage()" class="sendButton" id="messageSubmit">Send</button>
    </div>
    
    <script>
        const socket = io();

        socket.on('response', (data) => {
            const responseContainer = document.getElementById('responseContainer');
            const newMessage = document.createElement('p');
            newMessage.innerHTML = data.data.replaceAll("\n", "<br>");
            newMessage.className = data.role;
            responseContainer.appendChild(newMessage);
            responseContainer.scrollTop = responseContainer.scrollHeight;
        });

        function sendMessage() {
            const input = document.getElementById('messageInput');
            const message = input.value;
            socket.send(message);
            input.value = '';
        }

        document.getElementById('messageInput').addEventListener('keydown', function(event) {
            if (event.key === 'Enter') {
                sendMessage();
            }
        });

        // Get the scrollable div element
        let scrollableDiv = 
            document.getElementById('scrollableDiv');

        // Function to scroll to the bottom of the div
        function scrollToBottom() {
            scrollableDiv.scrollTop = scrollableDiv
                .scrollHeight;
        }

    </script>
</body>
</html>