<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.4/socket.io.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div>
        <div></div>
        <div class="titleBox"><h1 class="title">GPT-Dash</h1></div>
        <div></div>
    </div>
    <div id="responseContainer"></div>
    <input type="text" id="messageInput" placeholder="Type a message">
    <button onclick="sendMessage()" id="messageSubmit">Send</button>

    <script>
        const socket = io();

        socket.on('response', (data) => {
            const responseContainer = document.getElementById('responseContainer');
            const newMessage = document.createElement('p');
            newMessage.textContent = data.data;
            responseContainer.appendChild(newMessage);
        });

        function sendMessage() {
            const input = document.getElementById('messageInput');
            const message = input.value;
            socket.send(message);
            input.value = '';
        }
    </script>
</body>
</html>